html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #000000;
	/*color : #ffffff;*/

	border: none;

	overflow-x: hidden;
}
div {
	position: absolute;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

li {
	margin-top: 50px;
	color : white;
	font-family: helvetica;
	font-weight: bolder;
	font-size: 200px;
	letter-spacing: -10px;
	/*text-decoration: underline;*/
}

#background {
	width: 100%
	height: auto; /*안에 내용이 채워지면 알아서 height가 증가하도록*/
	/*background: url(https://source.unsplash.com/1600x900/?dark,black) repeat-x;*/
}

/*Header*/
#header h1 {
	background-color: blue;
}

#header .logo {
	position: relative;
	display: block;

	width: 100%;
	height: 65px;
}
